.expense-item {
    .edit-btn {
        cursor: pointer;

        &:hover {
            color: orange;
        }
    }

    .delete-btn {
        cursor: pointer;

        &:hover {
            color: red;
        }
    }
}