.expense-item {
    .amount-pill {
      min-width: 4.2rem;
    }

    .edit-btn {
        cursor: pointer;

        &:hover {
            color: orange;
        }
    }

    .delete-btn {
        cursor: pointer;

        &:hover {
            color: red;
        }
    }
}